![total http requests](total_req.png)

![sum_requests](sum_requests.png)


![work queue latency seconds](work_queue_latency_seconds.png)
Run this command to generate http traffic: 
while true; do curl http://10.0.0.21:3000; sleep 1; done